<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>STEPS</h1>
    <h2>コーディネーションとは</h2>
    <p>簡単に言うと、自分の身体を思い通りに動かす能力のことです。</p>
    <button>詳しくコーディネーションを知る</button>
    <section>
      <h3>目標を立てられる！疑問を解決できる！</h3>
      <button>目標を立てる</button>
      <button>他のユーザーへ質問してみる</button>
    </section>
    <%= link_to '/', class: 'navbar-brand' do %>
      <%= image_tag 'top.jpg' %>
    <% end %>
  </div>
</div>
