<% if current_user %>
  <% google_form_url = "https://docs.google.com/forms/d/e/1FAIpQLSebnBru4r6DifsIZ4epAMlWIdZLxwg01AUMBpBM8Mun9vVIYQ/viewform?usp=header" +
                      "entry.3368719=#{current_user.name}" +
                      "&entry.429638414=#{current_user.email}" %>
<% else %>
  <% google_form_url = "https://docs.google.com/forms/d/e/1FAIpQLSebnBru4r6DifsIZ4epAMlWIdZLxwg01AUMBpBM8Mun9vVIYQ/viewform?usp=header" %>
<% end %>

<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
          <ul>
          <li><%= link_to t('footer.faq'), faq_path, class: "footer-link" %></li>
          <li>
            <%= link_to t('footer.review'), "https://docs.google.com/forms/d/e/1FAIpQLSebnBru4r6DifsIZ4epAMlWIdZLxwg01AUMBpBM8Mun9vVIYQ/viewform?usp=header",
                        target: "_blank", rel: "noopener noreferrer" %>
          </li>
          <li><%= link_to t('footer.terms'), terms_path, class: "footer-link" %></li>
          <li><%= link_to t('footer.privacy'), privacy_path, class: "footer-link" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>